USE [master]
GO
/****** Object:  Database [DataBase_for_App]    Script Date: 16.03.2023 20:14:40 ******/
CREATE DATABASE [DataBase_for_App]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DataBase_for_App', FILENAME = N'E:\SQL_каталог\MSSQL15.MSSQLSERVER\MSSQL\DATA\DataBase_for_App.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DataBase_for_App_log', FILENAME = N'E:\SQL_каталог\MSSQL15.MSSQLSERVER\MSSQL\DATA\DataBase_for_App_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DataBase_for_App].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DataBase_for_App]
GO
/****** Object:  Table [dbo].[role_]    Script Date: 16.03.2023 20:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_](
	[id] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_]    Script Date: 16.03.2023 20:14:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_](
	[id] [int] NOT NULL,
	[id_role] [int] NOT NULL,
	[login] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[user_]  WITH CHECK ADD  CONSTRAINT [FK_id_role] FOREIGN KEY([id_role])
REFERENCES [dbo].[role_] ([id])
GO
ALTER TABLE [dbo].[user_] CHECK CONSTRAINT [FK_id_role]
GO
USE [master]
GO
